* {
    font-family: Arial,Helvetica;
}
h1{
    color:grey;    
}
.showingData{
    display:none;
}
.pelicula-title{
    cursor: pointer;
}
.pelicula-title:hover{
    text-decoration: underline !important;
}
.clicked{
    font-size:20px;
    color:green;

}