<p>{{datoServicio}}</p>
<p>Peliculas favoritas:</p>

<button (click)="onShowHide(true)" [class.showingData]="mostrarDatos === true">Mostrar datos</button>
<button (click)="onShowHide(false)" [class.showingData]="mostrarDatos === false">Ocultar datos</button>
<ul *ngIf="mostrarDatos===true">
    <li>Titulo: <strong>{{peli.titulo}}</strong></li>
    <li>Director:<strong> {{peli.director}}</strong></li>
    <li>Año: <strong>{{peli.anio}}</strong></li>
</ul>
<p>Cambiar titulo</p>
<input type="text" (keypress)="debug()" [(ngModel)]="peli.titulo" />
<hr/>
<p>Listado de peliculas</p>
<ul *ngFor="#peli of listaPelis">
    <li (click)="onCambiarPelicula(peli)" class="pelicula-title" [class.clicked]="peliculaElegida.titulo === peli.titulo">Titulo: <strong>{{peli.titulo}}</strong></li>
    <li>Director:<strong> {{peli.director}}</strong></li>
    <li>Año: <strong>{{peli.anio}}</strong></li>
    <li><a class="add-peli-basada" [routerLink]="['CrearPeliculaBasadaEnOtra',{titulo: peli.titulo, director: peli.director, anio: peli.anio}]">Añadir pelicula basada en esta</a></li>
</ul>