<h1>{{titulo}}</h1>
<p>Listado de peliculas:</p>
<button (click)="onShowHide(true)" [class.showingData]="mostrarDatos === true">Mostrar datos</button>
<button (click)="onShowHide(false)" [class.showingData]="mostrarDatos === false">Ocultar datos</button>
                <ul *ngIf="mostrarDatos===true">
                <li>Titulo: <strong>{{pelicula.titulo}}</strong></li>
                <li>Director:<strong> {{pelicula.director}}</strong></li>
                <li>Año: <strong>{{pelicula.anio}}</strong></li>
                </ul>
